@import url("https://fonts.googleapis.com/css2?family=Abel&family=Arvo&family=Cabin&family=Indie+Flower&family=Kanit:wght@700&family=Montserrat:wght@300;400&family=Open+Sans:wght@300&family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Arvo&family=Cabin&family=Indie+Flower&family=Kanit:wght@700&family=Merriweather+Sans&family=Montserrat:wght@300;400&family=Open+Sans:wght@300&family=Squada+One&display=swap");
.wrImg-dwBtn {
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgLg-dwBtn {
  width: 100%;
}
.cnt-dwBtn {
  display: flex;
  background: #000000;
  width: 122px;
  height: 35px;
  padding: 5px 8px 5px 8px;
  border-radius: 4px;
  padding-top: 3px;
  padding-bottom: 2px;
}
.txtInfo-dwBtn {
  font-size: 7px;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.txtApp-dwBtn  {
  font-size: 13px;
  color: white;
  font-family: "Merriweather Sans", sans-serif;
}
.wrInfo-dwBtn {
  padding-left: 4px;
}

.cnt-dwBtn:hover {
  cursor: pointer;
  text-decoration: none;
}
