.wrM-uRg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}
.wrMC-uRg {
  background-color: #fafafa;
  width: 400px;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrT-uRg {
  width: 100%;
  border: 1px solid #dbdbdb;
  background-color: #ffffff;
}
.wrLtC-uRg {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  padding-top: 1em;
  border: 1px solid #dbdbdb;
}
.wrCR-uRg {
  height: 480px;
  margin-bottom: 15px;
  margin-top: 45px;
}

.wrLtC-uRg {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  padding-top: 1em;
  border: 1px solid #dbdbdb;
}
.column-uRg {
  border: none;
  background-color: #fafafa;
  flex-direction: column;
  align-items: center;
  padding-top: 0px;
  margin-top: 20px;
}

.wrDw-uRg {
  padding-bottom: 15px;
}

.wrBtnApp-uRg {
  display: flex;
  width: 65%;
  justify-content: space-around;
}

@media only screen and (max-width: 1024px) {
  .wrCR-uRg {
    margin-top: 105px;
  }
}


@media only screen and (max-width: 375px) {
  .wrBtnApp-uRg {
    display: flex;
    width: 90%;
    justify-content: space-around;
  }
}

