.wrM-uLg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  background-color: #fafafa;
}

.wrMC-uLg {
  background-color: #fafafa;
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrCR-uLg {
  height: inherit;
}
.link-uLg {
  color: #0095f6;
  font-weight: bold;
}
.link-uLg:hover {
  text-decoration: none;
}
.wrDw-uLg {
  padding-bottom: 15px;
}

.wrT-uLg {
  width: 100%;
  border: 1px solid #dbdbdb;
  background-color: #ffffff;
  margin-bottom: 15px;
}

.wrLtC-uLg {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  padding-top: 1em;
  border: 1px solid #dbdbdb;
}

.column-uLg {
  border: none;
  background-color: #fafafa;
  flex-direction: column;
  align-items: center;
  padding-top: 0px;
}

.wrBtnApp-uLg {
  display: flex;
  width: 65%;
  justify-content: space-around;
}

@media only screen and (max-width: 1024px) {
  .wrMC-uLg {
    height: 100vh;
    width: 400px;
  }
  .wrM-uLg {
    height: 100vh;
    width: 100vw;
  }
  .wrCR-uLg {
    height: 510px;
  }
}

@media only screen and (max-width: 768px) {
  .wrCL-uLg {
    display: none;
  }
  .wrMC-uLg {
    height: 100vh;
    width: 400px;
  }
  .wrM-uLg {
    height: 100vh;
    width: 100vw;
  }
  .wrCR-uLg {
    justify-content: space-around;
    height: 530px;
  }
}

@media only screen and (max-width: 320px) {
  .wrMC-uLg {
    height: 100vh;
    width: 100vw;
  }
  .wrM-uLg {
    height: 100vh;
    width: 100vw;
  }
}

@media only screen and (max-width: 375px) {
  .wrCR-uLg {
    height: 530px;
  }
  .wrBtnApp-uLg {
    display: flex;
    width: 90%;
    justify-content: space-around;
  }
}
@media only screen and (max-width: 425px) {
  .wrM-uLg {
    background-color: #fafafa;
    border: none;
  }
  .wrMC-uLg {
    background-color: #fafafa;
    border: none;
  }
  .wrLtC-uLg {
    background-color: #fafafa;
    border: none;
  }
}
